
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:antiquewhite;
    padding: 1rem;
    position: relative;

}


#background{
    background-color: teal;
    height: 10vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

}

#container{

    display: flex;
    margin: 0 auto;
    width: 70%;
    height: 80vh;
    background-color: lightgrey;
    justify-content: center;
    align-items: stretch;


}

#leftColumn{
    height: 100%;
    width: 35%;
    border: solid red 1px;


}


#rightColumn{
    height: 100%;
    width: 65%;
    border: solid blue 1px
}

#myAvatar{
    height: 4rem;
    width: 100%;
    padding: 1rem;
    background-color: aliceblue;
    

}

.media_img_avatar{
    height: 100%;
    border-radius: 50%;
}

.contact_card{
    height: 4rem;
    width: 100%;
    padding: 1rem;
    

    
}

#contactList{
    height: calc(100% - 4rem);
    overflow-y: auto;
}



#activeContact{
    height: 4rem;
    width: 100%;
    padding: 1rem;
    background-color: aliceblue;
    

}

#activeMessages{
    height: calc(100% - 7rem);
    overflow-y: auto;

}

#activeMessages ul{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    list-style-type: none;

}

.sent{
    color: gray;
    align-self: end;
    background-color: aquamarine;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.received{
    color: white;
    align-self: start;
    background-color: gray;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

#newMessage{
    height: 3rem;


}