
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body e sfondo */
body{
    background-color:#dbdbd2;
    padding: 1rem;
    position: relative;
    font-family: sans-serif;

}

#background{
    background-color: #009688;
    height: 10vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

}
/* ****************** */

/* finestra principale */
#container{

    display: flex;
    margin: 0 auto;
    width: 70%;
    height: 80vh;
    background-color: white;
    justify-content: center;
    align-items: stretch;


}

#leftColumn{
    height: 100%;
    width: 35%;
    border-right: solid 1px lightgray;

}


#rightColumn{
    height: 100%;
    width: 65%;
}

/* barre contatti superiore */


.contactBar{
    height: 4rem;
    width: 100%;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;

}

.contactinfo{
    height: 4rem;
    width: 100%;
    padding: 1rem;
    display: flex;
}

.contactinfo span{
    align-self: center;

}


/* format immagini avatar */
.media_img_avatar{
    height: 100%;
    border-radius: 50%;
    
}

/* layout icone pulsanti */
.pulsantiera{
    color: gray;
    padding: 0.5rem;
    display: flex;
}


.pulsantiera i{
    margin: 0.5rem;
    align-self: center;
    
    
}
/* lista dei contatti laterali */
#contactList{
    height: calc(100% - 4rem);
    overflow-y: auto;
}

/* schede contatti laterali */
.contact_card{
    height: 4rem;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    background-color: white;
    border-top: 0.5px solid lightgray;
}

.contact_card:hover{
    background-color: lightgrey;
}

.textInfo{
    margin-left: 1rem;
}
.textInfo p{
    font-size: small;
    color: gray;
    
}

/* barre degli input */
.inputBar{
    width: 100%;
    border: 2px solid lightgrey;
    background-color: white;
    padding: 0.5rem 1rem;
    display:flex;
    border-radius: 5px;
    
}
.inputBar i{
    padding: 0.5rem 0;
}
.inputBar input{
    border-style: none;
    padding: 0.5rem;
}







/* CHAT aperta */
#activeContact{
    height: 4rem;
    width: 100%;
    background-color: #f3eeea;
}

#activeMessages{
    height: calc(100% - 7rem);
    overflow-y: auto;
    background: url(../img/mine.jpg) ;
    
}
#activeMessages ul{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    list-style-type: none;
    
}
#activeMessages li{
    position: relative;
}

#activeMessages p{
    font-size: small;
    color: lightgray;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.2rem;
}




/* stile inviati o ricevuti */
.sent{
    color: gray;
    align-self: end;
    background-color: #d5f9ba;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.received{
    color: gray;
    align-self: start;
    background-color: #ffffff;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}



/* stile barra input nuovo messaggio */
#newMessage{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    background-color: #f3eeea;
}

#messageInput{
    width: 80%;
    border-style: none;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0 1rem;
}

