<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    
    <!-- link vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootsrap -->
    
    
</head>
<body>
    <!-- background -->
    <div id="background">
    </div>
    
    
    
    <div id="app">
        <!-- finestra principale -->
        <div id="container">
            <!-- colonna con lista contatti -->
            <div id="leftColumn">
                <!-- il mio utente -->
                <div id="myAvatar">
                    <img   class="media_img_avatar" alt="io" :src="myAvatar.img"  >
                    <span>{{myAvatar.nome}}</span>
                </div>
                <!-- lista dei contatti -->
                <div id="contactList">
                    <ul>
                        <li class="contact_card" v-for="(contact, i) in contacts" @click="activeConversation = i">
                            <img class="media_img_avatar" :src="contact.avatar" :alt="contact.name">
                            <span>{{contact.name}}</span>
                            <p>last message received</p>
                        </li>
                    </ul>
                </div> 
            </div>
            
            <div id="rightColumn">
                <div id="activeContact">
                    <img   class="media_img_avatar" alt="actual" :src="contacts[activeConversation].avatar"  >
                    <span>{{contacts[activeConversation].name}}</span>
                </div>
                <div id="activeMessages">
                    <ul>
                        <li v-for="(message,i) in contacts[activeConversation].messages" :class="contacts[activeConversation].messages[i].status">
                            {{contacts[activeConversation].messages[i].message}}
                            <p>
                                {{contacts[activeConversation].messages[i].date}}
                            </p>
                        </li>
                        
                    </ul>
                </div>
                <div id="newMessage">
                    <input type="text" v-model.lazy="newMessage">
                    <button @click="sendMessage()">invia</button>
                    
                </div>


                 
            </div>
            
            
            
            
            
            
            
            <!-- colonna mesaggi correnti -->
            <!-- il contatto corrente -->
            <!-- messaggi correnti -->
            <!-- IN BASE AL inviato o ricevuto il messaggio si attacca a destra o a sinistra -->
            
            
            
            
            
            
        </div>
    </div>
    
    
    
    
    <script src="js/app.js"></script>
</body>
</html>